
.ipynb_checkpoints
.python-version
*.pyc

# data files
*.db
*.pkl

app_tokens.py
/1.collect_data/data_files/
/1.collect_data/failed/
/validate_data/
/arima_results*/
/batch_arima_results/

# Vim
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]


**/.DS_Store
